# http://docs.ansible.com/intro_configuration.html
[defaults]
inventory = ./hosts.ini
#forks = 40
pipelining = True
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ./.tmp/ansible_fact

[ssh_connection]
ssh_args = -F ./ssh-config

