[Unit]
Description=kafka
Requires=network-online.target
After=network-online.target

[Service]
WorkingDirectory={{ kafka_homedir }}
#EnvironmentFile=
#Environment=
Restart=on-failure
ExecStart={{ kafka_homedir }}/bin/kafka-server-start.sh ./config/server.properties
#ExecReload=/bin/kill -HUP $MAINPID
#ExecStop={{ kafka_homedir }}/bin/kafka-server-stop.sh
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
